<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
 
    <link href="/FJS/Q/F/F.css" rel="stylesheet" />
    <link href="/FJS/Q/res/css/common.css" rel="stylesheet" />
 
    <style>
        .mysimpleform .f-field {
            margin-bottom: 0 !important;
        }
    </style>
 
</head>
<body>
    <div id="wrap1"></div>
    <br />
    下面使用 Column 布局实现相同的效果：
    <div id="wrap2"></div>
    <br />
    注：自定义 CSS 去除表单字段底部外边距。
 
 
    <script src="/FJS/Q/F/F.js"></script>
    <script src="/FJS/Q/res/js/common.js"></script>
    <script>
        F.ready(function () {
 
            F.ui({
                type: 'panel', renderTo: '#wrap1',  height: 350, bodyPadding: 5, collapsible: true, title: '面板（layout=hbox）',
                layout: {
                    childMargin: '0 0 5 0', type: 'vbox'
                },
                items: [{
                    type: 'form', id: 'form1', cls: 'mysimpleform', layout: 'hbox', border: false, collapsible: true, header: false,
                    items: [{
                        type: 'label', value: '销毁统计时间段：'
                    }, {
                        type: 'datepicker', id: 'datepicker1', cls: 'marginr', width: 150, hideLabel: true, fieldLabel: '销毁统计开始时间', required: true, emptyText: '请选择开始日期', editable: false
                    }, {
                        type: 'datepicker', cls: 'marginr', width: 150, hideLabel: true, fieldLabel: '销毁统计结束时间', required: true, compareControl: 'datepicker1', compareOperator: '>', compareMessage: '结束日期应该大于开始日期', emptyText: '请选择结束日期', editable: false
                    }, {
                        type: 'button', cls: 'marginr', text: '重置起止时间',
                        handler: function () {
                            F.ui.form1.reset();
                        }
                    }, {
                        type: 'button', text: '查询', validateForm: 'form1',
                        handler: function (event) {
                            $.get("./controller/Goodsmanager.php");
                            
                            F.alert('表单验证通过！');
                        }
                    }]
                }, {
                    type: 'panel', margin: 0, flex: 1, header: false
                }]
            });
 
 
 var DATA = {$arrfun};

 F.ui({
     type: 'grid', id: 'grid1', renderTo: '#wrap1',  collapsible: true, title: '表格',paging:true,pageSize:20,
     columns: [{
         columnType: 'rownumberfield'
     }, {
         text: 'ID', field: 'funcid', width: 120
     }, {
         text: '名称', field: 'funcname', width: 180
     }, {
         text: '路径', field: 'runwhat', width: 380
     }, {
         text: '提示信息', field: 'micohelp', width: 80, columnType: 'checkboxfield'
     }, {
         text: '所学专业', field: 'major', flex: 1,
         renderer: function (value, params) {
             return '<a href="http://gsa.ustc.edu.cn/search?q=' + encodeURIComponent(value) + '" target="_blank">' + value + '</a>';
         }
     }, {
         text: '注册日期', field: 'logTime', width: 100
     }],
     data: DATA
 });



 
 
 
 
 
        });
    </script>
</body>
</html>